In [6]:
# !pip install python-dotenv
import requests
import pandas as pd
from dotenv import load_dotenv
import os

load_dotenv("key.env")
api_key = os.getenv("API_KEY")
api_url = "https://datamall2.mytransport.sg/ltaodataservice/BusServices"

def get_source_data(api_url, api_key):
    """
    Function to fetch data from the LTA DataMall API for bus services.
    
    Parameters:
    - api_url (str): The API endpoint URL for the data.
    - api_key (str): Your LTA DataMall API key.
    
    Returns:
    - pd.DataFrame: A pandas DataFrame containing the expanded bus services data.
    """
    # Set up the headers with the API key
    headers = {
        'AccountKey': api_key,
        'accept': 'application/json'
    }
    
    # Make the GET request
    response = requests.get(api_url, headers=headers)
    
    # Check the response status
    if response.status_code == 200:
        # Convert the response JSON to a DataFrame
        data = response.json()
        df = pd.DataFrame(data)
        
        # Expand the JSON in the 'value' column
        if 'value' in df.columns:
            result_df = pd.json_normalize(df['value'])
            return result_df
        else:
            print("No 'value' column found in the response.")
            return None
    else:
        print(f"Failed to retrieve data: {response.status_code}")
        return None

In [8]:
get_source_data(api_url,api_key)

,ServiceNo,Operator,Direction,Category,OriginCode,DestinationCode,AM_Peak_Freq,AM_Offpeak_Freq,PM_Peak_Freq,PM_Offpeak_Freq,LoopDesc
0,118,GAS,1,TRUNK,65009,97009,5-08,8-12,8-10,09-14,
1,118,GAS,2,TRUNK,97009,65009,10-10,8-11,4-08,9-12,
2,118A,GAS,1,TRUNK,65009,96119,06-66,-,-,-,
3,118B,GAS,1,TRUNK,96111,65191,-,-,24-57,-,
4,119,GAS,1,TRUNK,65009,65009,09-13,12-18,12-15,15-17,Hougang St 21
...,...,...,...,...,...,...,...,...,...,...,...
495,192,SMRT,1,TRUNK,22009,25009,06-09,08-14,07-10,08-23,
496,192,SMRT,2,TRUNK,25009,22009,08-09,07-14,06-09,09-23,
497,193,SMRT,1,TRUNK,22009,25009,14-16,12-18,18-19,16-25,
498,193,SMRT,2,TRUNK,25009,22009,14-15,12-18,18-19,16-24,
499,194,SMRT,1,TRUNK,22009,22009,09-10,09-13,09-16,15-23,Jln Ahmad Ibrahim