In [3]:
%run get_bus_info_function.ipynb

In [1]:
import requests
import xlrd
import pandas as pd
import geopandas as gpd
from math import radians, cos, sin, sqrt, atan2
from dotenv import load_dotenv
import os

pd.set_option('display.max_rows', None)
os.environ['OGR_GEOMETRY_ACCEPT_UNCLOSED_RING'] = 'NO'

# Retrieving api key
load_dotenv("../key.env")
api_key = os.getenv("API_KEY")

## Reading in data

In [4]:
#reading in data frames
bus_routes_df = get_bus_info("https://datamall2.mytransport.sg/ltaodataservice/BusRoutes", api_key)
bus_stops_df = get_bus_info("https://datamall2.mytransport.sg/ltaodataservice/BusStops", api_key)
train_stations = pd.read_excel("../datasets/Train_Stations.xls")
geospatial_train_path = "../datasets/geospatial_layer/TrainStation_Jul2024"
geospatial_train_gdf = gpd.read_file(geospatial_train_path)

In [5]:
train_stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Station_Code  211 non-null    object
 1   MRT_Station   211 non-null    object
 2   MRT_Line      211 non-null    object
dtypes: object(3)
memory usage: 5.1+ KB

In [7]:
train_stations.head()

  Station_Code    MRT_Station           MRT_Line
0          NS1    Jurong East  North-South Line
1          NS2    Bukit Batok  North-South Line
2          NS3   Bukit Gombak  North-South Line
3          NS4  Choa Chu Kang  North-South Line
4          NS5        Yew Tee  North-South Line

In [8]:
bus_routes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25544 entries, 0 to 25543
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ServiceNo     25544 non-null  object
 1   Operator      25544 non-null  object
 2   Direction     25544 non-null  int64
 3   StopSequence  25544 non-null  int64
 4   BusStopCode   25544 non-null  object
 5   Distance      25544 non-null  float64
 6   WD_FirstBus   25544 non-null  object
 7   WD_LastBus    25544 non-null  object
 8   SAT_FirstBus  25544 non-null  object
 9   SAT_LastBus   25544 non-null  object
 10  SUN_FirstBus  25544 non-null  object
 11  SUN_LastBus   25544 non-null  object
dtypes: float64(1), int64(2), object(9)
memory usage: 2.3+ MB

In [9]:
bus_routes_df.head(n = 25)

,ServiceNo,Operator,Direction,StopSequence,BusStopCode,Distance,WD_FirstBus,WD_LastBus,SAT_FirstBus,SAT_LastBus,SUN_FirstBus,SUN_LastBus
0,10,SBST,1,1,75009,0.0,0500,2300,0500,2300,0500,2300
1,10,SBST,1,2,76059,0.6,0502,2302,0502,2302,0502,2302
2,10,SBST,1,3,76069,1.1,0504,2304,0504,2304,0503,2304
3,10,SBST,1,4,96289,2.3,0508,2308,0508,2309,0507,2308
4,10,SBST,1,5,96109,2.7,0509,2310,0509,2311,0508,2309
5,10,SBST,1,6,85079,3.3,0511,2312,0511,2313,0510,2311
6,10,SBST,1,7,85089,3.5,0512,2313,0512,2314,0511,2312
7,10,SBST,1,8,85069,3.8,0513,2314,0513,2315,0512,2313
8,10,SBST,1,9,85059,4.1,0514,2315,0514,2316,0513,2314
9,10,SBST,1,10,85049,4.5,0515,2316,0515,2317,0514,2315
10,10,SBST,1,11,85039,4.8,0517,2317,0517,2319,0516,2317
11,10,SBST,1,12,85029,5.0,0517,2318,0517,2319,0516,2317
12,10,SBST,1,13,85019,5.2,0518,2318,0518,2320,0517,2318
13,10,SBST,1,14,94079,5.5,0519,2319,0519,2321,0518,2319
14,10,SBST,1,15,94069,6.1,0520,2320,0520,2322,0519,2321
15,10,SBST,1,16,94059,6.4,0521,2321,0521,2323,0520,2322
16,10,SBST,1,17,94049,6.8,0522,2322,0522,2324,0521,2323
17,10,SBST,1,18,94089,7.0,0522,2322,0522,2324,0521,2323
18,10,SBST,1,19,94039,7.3,0523,2323,0523,2325,0522,2324
19,10,SBST,1,20,94029,7.7,0524,2324,0524,2326,0523,2325
20,10,SBST,1,21,94019,7.9,0525,2325,0525,2326,0524,2326
21,10,SBST,1,22,93099,8.3,0527,2326,0526,2327,0525,2327
22,10,SBST,1,23,93089,8.8,0528,2327,0527,2328,0526,2329
23,10,SBST,1,24,93079,9.1,0529,2328,0528,2329,0527,2330
24,10,SBST,1,25,93069,9.4,0530,2329,0529,2330,0528,2331

In [10]:
geospatial_train_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TYP_CD      230 non-null    int32
 1   STN_NAM     0 non-null      object
 2   ATTACHEMEN  51 non-null     object
 3   TYP_CD_DES  230 non-null    object
 4   STN_NAM_DE  230 non-null    object
 5   geometry    230 non-null    geometry
dtypes: geometry(1), int32(1), object(4)
memory usage: 10.0+ KB

In [ ]:
geospatial_train_gdf.head(n = 150)

## Data Pre-Processing

### Bus Stop

In [16]:
# Merge bus_routes_df with bus_stops_df to get the lat-long of each bus stop
merged_bus_routes = pd.merge(bus_routes_df, bus_stops_df, on='BusStopCode', how='left')

#Ensure there's no rows with na values for longitude and latitude
print(merged_bus_routes.head())

  ServiceNo Operator  Direction  StopSequence BusStopCode  Distance  \
0        10     SBST          1             1       75009       0.0
1        10     SBST          1             2       76059       0.6
2        10     SBST          1             3       76069       1.1
3        10     SBST          1             4       96289       2.3
4        10     SBST          1             5       96109       2.7

  WD_FirstBus WD_LastBus SAT_FirstBus SAT_LastBus SUN_FirstBus SUN_LastBus  \
0        0500       2300         0500        2300         0500        2300
1        0502       2302         0502        2302         0502        2302
2        0504       2304         0504        2304         0503        2304
3        0508       2308         0508        2309         0507        2308
4        0509       2310         0509        2311         0508        2309

          RoadName           Description  Latitude   Longitude
0  Tampines Ctrl 1          Tampines Int  1.354076  103.943391
1   Tampines Ave 5  Opp Our Tampines Hub  1.352962  103.941652
2   Tampines Ave 5               Blk 147  1.348753  103.942086
3        Simei Ave   Changi General Hosp  1.340055  103.948381
4        Simei Ave          Opp Blk 3012  1.337371  103.950673

### Train Stations

In [8]:
# Step 1: Union the geometries for the same station
unioned_gdf = geospatial_train_gdf.dissolve(by='STN_NAM_DE',aggfunc='first')

# Step 2: Calculate the centroid of the unioned polygon
unioned_gdf['centroid'] = unioned_gdf.centroid

# Optional Step: Replace geometry with centroid point
unioned_gdf['geometry'] = unioned_gdf['centroid']

# Reset index to clean up
unioned_gdf.reset_index(inplace=True)

In [9]:
unioned_gdf.head(n = 10)

,STN_NAM_DE,geometry,TYP_CD,STN_NAM,ATTACHEMEN,TYP_CD_DES,centroid
0,ADMIRALTY MRT STATION,POINT (24400.883 46918.344),0,None,None,MRT,POINT (24400.883 46918.344)
1,ALJUNIED MRT STATION,POINT (33518.605 33189.987),0,None,None,MRT,POINT (33518.605 33189.987)
2,ANG MO KIO MRT STATION,POINT (29813.745 39107.484),0,None,None,MRT,POINT (29813.745 39107.484)
3,BAKAU LRT STATION,POINT (36035.791 41115.238),0,None,None,LRT,POINT (36035.791 41115.238)
4,BANGKIT LRT STATION,POINT (21249.598 40220.704),0,None,None,LRT,POINT (21249.598 40220.704)
5,BARTLEY MRT STATION,POINT (33164.551 36110.747),0,None,CC12_BLY STN.zip,MRT,POINT (33164.551 36110.747)
6,BAYFRONT MRT STATION,POINT (30866.641 29368.417),0,None,None,MRT,POINT (30866.641 29368.417)
7,BAYSHORE MRT STATION,POINT (40092.809 32807.696),0,None,None,MRT,POINT (40092.809 32807.696)
8,BEAUTY WORLD MRT STATION,POINT (21600.914 35929.067),0,None,None,MRT,POINT (21600.914 35929.067)
9,BEDOK MRT STATION,POINT (38778.877 34028.172),0,None,None,MRT,POINT (38778.877 34028.172)

In [13]:
# Function to normalize station names in train_stations_df
def normalize_station_name(name):
    return name.strip().upper()  # Ensure names are uppercase for consistent merging

# Apply normalization function to train_stations_df
train_stations['Normalized_Station'] = train_stations['MRT_Station'].apply(normalize_station_name)

# Create a column to append " MRT STATION" or " LRT STATION" based on the MRT_Line
train_stations['Station_MRT_LRT'] = train_stations.apply(
    lambda row: f"{row['Normalized_Station']} MRT STATION" if "LRT" not in row['MRT_Line'] else f"{row['Normalized_Station']} LRT STATION",
    axis=1
)

# Apply normalization to geospatial_train_df
# Strip ' MRT STATION' and ' LRT STATION' and normalize to uppercase
unioned_gdf['Normalized_Station'] = unioned_gdf['STN_NAM_DE'].str.strip().str.upper()

# Perform the merge on 'Station_MRT_LRT' from train_stations and 'Normalized_Station' from unioned_gdf
merged_train_stations = train_stations.merge(
    unioned_gdf,
    how='left',
    left_on='Station_MRT_LRT',
    right_on='Normalized_Station'
)

# Keeping necessary columns
columns_to_keep = ['Station_Code', 'MRT_Station', 'MRT_Line', 'TYP_CD_DES', 'geometry']
merged_train_stations = merged_train_stations[columns_to_keep]

# Check the resulting column names and sample data
print(merged_train_stations.head())

  Station_Code    MRT_Station           MRT_Line TYP_CD_DES  \
0          NS1    Jurong East  North-South Line         MRT
1          NS2    Bukit Batok  North-South Line         MRT
2          NS3   Bukit Gombak  North-South Line         MRT
3          NS4  Choa Chu Kang  North-South Line         MRT
4          NS5        Yew Tee  North-South Line         MRT

                      geometry
0  POINT (17866.487 35045.184)
1  POINT (18676.448 36790.872)
2  POINT (18940.178 37860.706)
3  POINT (18101.056 40790.989)
4  POINT (18438.643 42159.628)

In [15]:
# Check the resulting column names and sample data
print(merged_train_stations.head(n = 212))

    Station_Code         MRT_Station                    MRT_Line TYP_CD_DES  \
0            NS1         Jurong East           North-South Line         MRT
1            NS2         Bukit Batok           North-South Line         MRT
2            NS3        Bukit Gombak           North-South Line         MRT
3            NS4       Choa Chu Kang           North-South Line         MRT
4            NS5             Yew Tee           North-South Line         MRT
5            NS7              Kranji           North-South Line         MRT
6            NS8           Marsiling           North-South Line         MRT
7            NS9           Woodlands           North-South Line         MRT
8           NS10           Admiralty           North-South Line         MRT
9           NS11           Sembawang           North-South Line         MRT
10          NS12            Canberra           North-South Line         MRT
11          NS13              Yishun           North-South Line         MRT
12          NS14              Khatib           North-South Line         MRT
13          NS15        Yio Chu Kang           North-South Line         MRT
14          NS16          Ang Mo Kio           North-South Line         MRT
15          NS17              Bishan           North-South Line         MRT
16          NS18            Braddell           North-South Line         MRT
17          NS19           Toa Payoh           North-South Line         MRT
18          NS20              Novena           North-South Line         MRT
19          NS21              Newton           North-South Line         MRT
20          NS22             Orchard           North-South Line         MRT
21          NS23            Somerset           North-South Line         MRT
22          NS24         Dhoby Ghaut           North-South Line         MRT
23          NS25           City Hall           North-South Line         MRT
24          NS26       Raffles Place           North-South Line         MRT
25          NS27          Marina Bay           North-South Line         MRT
26          NS28   Marina South Pier           North-South Line         MRT
27           EW1           Pasir Ris              East-West Line        MRT
28           EW2            Tampines              East-West Line        MRT
29           EW3               Simei              East-West Line        MRT
30           EW4         Tanah Merah              East-West Line        MRT
31           EW5               Bedok              East-West Line        MRT
32           EW6           Kembangan              East-West Line        MRT
33           EW7               Eunos              East-West Line        MRT
34           EW8          Paya Lebar              East-West Line        MRT
35           EW9            Aljunied              East-West Line        MRT
36          EW10             Kallang              East-West Line        MRT
37          EW11            Lavender              East-West Line        MRT
38          EW12               Bugis              East-West Line        MRT
39          EW13           City Hall              East-West Line        MRT
40          EW14       Raffles Place              East-West Line        MRT
41          EW15       Tanjong Pagar              East-West Line        MRT
42          EW16         Outram Park              East-West Line        MRT
43          EW17         Tiong Bahru              East-West Line        MRT
44          EW18             Redhill              East-West Line        MRT
45          EW19          Queenstown              East-West Line        MRT
46          EW20        Commonwealth              East-West Line        MRT
47          EW21         Buona Vista              East-West Line        MRT
48          EW22               Dover              East-West Line        MRT
49          EW23            Clementi              East-West Line        MRT
50          EW24         Jurong East              East-West Line        MRT
51          EW25      Chinese Garden              East-West Line        MRT
52          EW26            Lakeside              East-West Line        MRT
53          EW27            Boon Lay              East-West Line        MRT
54          EW28             Pioneer              East-West Line        MRT
55          EW29            Joo Koon              East-West Line        MRT
56          EW30          Gul Circle              East-West Line        MRT
57          EW31       Tuas Crescent              East-West Line        MRT
58          EW32      Tuas West Road              East-West Line        MRT
59          EW33           Tuas Link              East-West Line        MRT
60           CG1                Expo  Changi Airport Branch Line        MRT
61           CG2      Changi Airport  Changi Airport Branch Line        MRT
62           NE1        HarbourFront             North East Line        MRT
63           NE3         Outram Park             North East Line        MRT
64           NE4           Chinatown             North East Line        MRT
65           NE5         Clarke Quay             North East Line        MRT
66           NE6         Dhoby Ghaut             North East Line        MRT
67           NE7        Little India             North East Line        MRT
68           NE8         Farrer Park             North East Line        MRT
69           NE9           Boon Keng             North East Line        MRT
70          NE10        Potong Pasir             North East Line        MRT
71          NE11           Woodleigh             North East Line        MRT
72          NE12           Serangoon             North East Line        MRT
73          NE13               Kovan             North East Line        MRT
74          NE14             Hougang             North East Line        MRT
75          NE15            Buangkok             North East Line        MRT
76          NE16            Sengkang             North East Line        MRT
77          NE17             Punggol             North East Line        MRT
78           CC1         Dhoby Ghaut                 Circle Line        MRT
79           CC2          Bras Basah                 Circle Line        MRT
80           CC3           Esplanade                 Circle Line        MRT
81           CC4           Promenade                 Circle Line        MRT
82           CC5      Nicoll Highway                 Circle Line        MRT
83           CC6             Stadium                 Circle Line        MRT
84           CC7         Mountbatten                 Circle Line        MRT
85           CC8              Dakota                 Circle Line        MRT
86           CC9          Paya Lebar                 Circle Line        MRT
87          CC10          MacPherson                 Circle Line        MRT
88          CC11            Tai Seng                 Circle Line        MRT
89          CC12             Bartley                 Circle Line        MRT
90          CC13           Serangoon                 Circle Line        MRT
91          CC14        Lorong Chuan                 Circle Line        MRT
92          CC15              Bishan                 Circle Line        MRT
93          CC16           Marymount                 Circle Line        MRT
94          CC17           Caldecott                 Circle Line        MRT
95          CC19     Botanic Gardens                 Circle Line        MRT
96          CC20         Farrer Road                 Circle Line        MRT
97          CC21     Holland Village                 Circle Line        MRT
98          CC22         Buona Vista                 Circle Line        MRT
99          CC23           one-north                 Circle Line        MRT
100         CC24          Kent Ridge                 Circle Line        MRT
101         CC25       Haw Par Villa                 Circle Line        MRT
102         CC26       Pasir Panjang                 Circle Line        MRT
103         CC27       Labrador Park                 Circle Line        MRT
104         CC28       Telok Blangah                 Circle Line        MRT
105         CC29        HarbourFront                 Circle Line        MRT
106          CE1            Bayfront       Circle Line Extension        MRT
107          CE2          Marina Bay       Circle Line Extension        MRT
108          DT1       Bukit Panjang               Downtown Line        MRT
109          DT2              Cashew               Downtown Line        MRT
110          DT3            Hillview               Downtown Line        MRT
111          DT5        Beauty World               Downtown Line        MRT
112          DT6    King Albert Park               Downtown Line        MRT
113          DT7        Sixth Avenue               Downtown Line        MRT
114          DT8         Tan Kah Kee               Downtown Line        MRT
115          DT9     Botanic Gardens               Downtown Line        MRT
116         DT10             Stevens               Downtown Line        MRT
117         DT11              Newton               Downtown Line        MRT
118         DT12        Little India               Downtown Line        MRT
119         DT13              Rochor               Downtown Line        MRT
120         DT14               Bugis               Downtown Line        MRT
121         DT15           Promenade               Downtown Line        MRT
122         DT16            Bayfront               Downtown Line        MRT
123         DT17            Downtown               Downtown Line        MRT
124         DT18          Telok Ayer               Downtown Line        MRT
125         DT19           Chinatown               Downtown Line        MRT
126         DT20        Fort Canning               Downtown Line        MRT
127         DT21           Bencoolen               Downtown Line        MRT
128         DT22         Jalan Besar               Downtown Line        MRT
129         DT23           Bendemeer               Downtown Line        MRT
130         DT24       Geylang Bahru               Downtown Line        MRT
131         DT25              Mattar               Downtown Line        MRT
132         DT26          MacPherson               Downtown Line        MRT
133         DT27                 Ubi               Downtown Line        MRT
134         DT28          Kaki Bukit               Downtown Line        MRT
135         DT29         Bedok North               Downtown Line        MRT
136         DT30     Bedok Reservoir               Downtown Line        MRT
137         DT31       Tampines West               Downtown Line        MRT
138         DT32            Tampines               Downtown Line        MRT
139         DT33       Tampines East               Downtown Line        MRT
140         DT34        Upper Changi               Downtown Line        MRT
141         DT35                Expo               Downtown Line        MRT
142          BP1       Choa Chu Kang           Bukit Panjang LRT        LRT
143          BP2          South View           Bukit Panjang LRT        LRT
144          BP3           Keat Hong           Bukit Panjang LRT        LRT
145          BP4           Teck Whye           Bukit Panjang LRT        LRT
146          BP5             Phoenix           Bukit Panjang LRT        LRT
147          BP6       Bukit Panjang           Bukit Panjang LRT        LRT
148          BP7               Petir           Bukit Panjang LRT        LRT
149          BP8             Pending           Bukit Panjang LRT        LRT
150          BP9             Bangkit           Bukit Panjang LRT        LRT
151         BP10               Fajar           Bukit Panjang LRT        LRT
152         BP11               Segar           Bukit Panjang LRT        LRT
153         BP12            Jelapang           Bukit Panjang LRT        LRT
154         BP13               Senja           Bukit Panjang LRT        LRT
155          STC            Sengkang                Sengkang LRT        LRT
156          SE1         Compassvale                Sengkang LRT        LRT
157          SE2              Rumbia                Sengkang LRT        LRT
158          SE3               Bakau                Sengkang LRT        LRT
159          SE4             Kangkar                Sengkang LRT        LRT
160          SE5            Ranggung                Sengkang LRT        LRT
161          SW1           Cheng Lim                Sengkang LRT        LRT
162          SW2             Farmway                Sengkang LRT        LRT
163          SW3              Kupang                Sengkang LRT        LRT
164          SW4            Thanggam                Sengkang LRT        LRT
165          SW5            Fernvale                Sengkang LRT        LRT
166          SW6               Layar                Sengkang LRT        LRT
167          SW7            Tongkang                Sengkang LRT        LRT
168          SW8             Renjong                Sengkang LRT        LRT
169          PTC             Punggol                 Punggol LRT        LRT
170          PE1                Cove                 Punggol LRT        LRT
171          PE2            Meridian                 Punggol LRT        LRT
172          PE3          Coral Edge                 Punggol LRT        LRT
173          PE4             Riviera                 Punggol LRT        LRT
174          PE5            Kadaloor                 Punggol LRT        LRT
175          PE6               Oasis                 Punggol LRT        LRT
176          PE7               Damai                 Punggol LRT        LRT
177          PW1             Sam Kee                 Punggol LRT        LRT
178          PW2            Teck Lee                 Punggol LRT        LRT
179          PW3       Punggol Point                 Punggol LRT        LRT
180          PW4            Samudera                 Punggol LRT        LRT
181          PW5              Nibong                 Punggol LRT        LRT
182          PW6              Sumang                 Punggol LRT        LRT
183          PW7            Soo Teck                 Punggol LRT        LRT
184          TE1    Woodlands North      Thomson-East Coast Line        MRT
185          TE2          Woodlands      Thomson-East Coast Line        MRT
186          TE3    Woodlands South      Thomson-East Coast Line        MRT
187          TE4          Springleaf     Thomson-East Coast Line        MRT
188          TE5              Lentor     Thomson-East Coast Line        MRT
189          TE6           Mayflower     Thomson-East Coast Line        MRT
190          TE7         Bright Hill     Thomson-East Coast Line        MRT
191          TE8       Upper Thomson     Thomson-East Coast Line        MRT
192          TE9           Caldecott     Thomson-East Coast Line        MRT
193         TE11             Stevens     Thomson-East Coast Line        MRT
194         TE12              Napier     Thomson-East Coast Line        MRT
195         TE13   Orchard Boulevard     Thomson-East Coast Line        MRT
196         TE14             Orchard     Thomson-East Coast Line        MRT
197         TE15         Great World     Thomson-East Coast Line        MRT
198         TE16            Havelock     Thomson-East Coast Line        MRT
199         TE17         Outram Park     Thomson-East Coast Line        MRT
200         TE18             Maxwell     Thomson-East Coast Line        MRT
201         TE19         Shenton Way     Thomson-East Coast Line        MRT
202         TE20          Marina Bay     Thomson-East Coast Line        MRT
203         TE22  Gardens by the Bay     Thomson-East Coast Line        MRT
204         TE23         Tanjong Rhu     Thomson-East Coast Line        MRT
205         TE24         Katong Park     Thomson-East Coast Line        MRT
206         TE25      Tanjong Katong     Thomson-East Coast Line        MRT
207         TE26       Marine Parade     Thomson-East Coast Line        MRT
208         TE27      Marine Terrace     Thomson-East Coast Line        MRT
209         TE28              Siglap     Thomson-East Coast Line        MRT
210         TE29            Bayshore     Thomson-East Coast Line        MRT

                        geometry
0    POINT (17866.487 35045.184)
1    POINT (18676.448 36790.872)
2    POINT (18940.178 37860.706)
3    POINT (18101.056 40790.989)
4    POINT (18438.643 42159.628)
5    POINT (20083.392 45221.396)
6     POINT (21420.325 46031.38)
7    POINT (22873.936 46449.681)
8    POINT (24400.883 46918.344)
9     POINT (26539.427 47856.28)
10   POINT (27598.961 47198.216)
11   POINT (28184.019 45701.404)
12   POINT (27968.782 44373.957)
13   POINT (29277.828 40413.254)
14   POINT (29813.745 39107.484)
15    POINT (29720.19 37021.744)
16    POINT (29500.326 35845.02)
17   POINT (29569.477 34986.216)
18   POINT (29168.496 33631.969)
19   POINT (28525.282 32805.786)
20    POINT (27819.681 31731.63)
21     POINT (28640.686 31401.4)
22   POINT (29379.661 31303.843)
23   POINT (30146.802 30591.515)
24   POINT (30018.914 29611.162)
25   POINT (30411.145 28685.876)
26   POINT (31293.396 28207.991)
27   POINT (40902.605 39439.871)
28   POINT (40316.802 37377.177)
29   POINT (41361.218 36149.793)
30   POINT (40601.284 34386.818)
31   POINT (38778.877 34028.172)
32   POINT (36861.917 33699.337)
33   POINT (35795.125 33560.109)
34   POINT (34596.892 33326.674)
35   POINT (33518.605 33189.987)
36   POINT (32228.671 32633.128)
37   POINT (31285.215 32188.061)
38   POINT (30555.602 31387.337)
39   POINT (30146.802 30591.515)
40   POINT (30018.914 29611.162)
41    POINT (29395.046 28776.07)
42   POINT (28667.072 29234.336)
43   POINT (27300.617 29849.164)
44   POINT (26160.513 30225.102)
45   POINT (24964.715 30777.079)
46   POINT (24101.717 31643.589)
47   POINT (23221.865 32120.541)
48    POINT (21915.81 32632.946)
49    POINT (20422.732 33040.29)
50   POINT (17866.487 35045.184)
51   POINT (16814.968 36033.318)
52   POINT (15496.304 36267.593)
53   POINT (13837.365 35641.916)
54   POINT (12864.627 35529.455)
55   POINT (10757.666 34438.242)
56    POINT (8777.409 33536.902)
57    POINT (7494.198 33701.634)
58    POINT (6444.143 34688.995)
59    POINT (6131.631 35838.798)
60   POINT (42326.088 35240.255)
61   POINT (45255.521 37710.284)
62   POINT (26684.494 27540.596)
63   POINT (28667.072 29234.336)
64   POINT (29181.189 29653.187)
65   POINT (29478.643 30105.975)
66   POINT (29379.661 31303.843)
67   POINT (29779.667 32164.705)
68   POINT (30331.711 32749.384)
69   POINT (31156.468 33523.291)
70   POINT (31978.758 34843.598)
71   POINT (32172.304 35708.264)
72     POINT (32431.375 36902.3)
73    POINT (33761.68 38027.357)
74   POINT (34569.205 39254.902)
75   POINT (34652.075 40525.455)
76   POINT (34910.639 41493.668)
77   POINT (35684.918 42998.052)
78   POINT (29379.661 31303.843)
79   POINT (29929.447 31022.041)
80   POINT (30481.034 30627.639)
81   POINT (31076.533 30616.433)
82   POINT (31373.739 31351.132)
83   POINT (32677.489 31688.544)
84   POINT (33478.671 32057.844)
85   POINT (34159.908 32299.063)
86   POINT (34596.892 33326.674)
87   POINT (34294.452 34275.395)
88   POINT (34103.771 35293.204)
89   POINT (33164.551 36110.747)
90     POINT (32431.375 36902.3)
91   POINT (31430.536 37080.783)
92    POINT (29720.19 37021.744)
93   POINT (28678.224 36766.387)
94     POINT (28725.454 35518.3)
95   POINT (26013.545 33830.922)
96   POINT (25125.433 33302.965)
97   POINT (23872.764 32693.829)
98   POINT (23221.865 32120.541)
99   POINT (22889.004 31334.975)
100  POINT (22566.686 30643.276)
101  POINT (22268.778 29438.232)
102  POINT (23328.336 28744.551)
103  POINT (24617.732 28312.608)
104  POINT (25375.858 28120.011)
105  POINT (26684.494 27540.596)
106  POINT (30866.641 29368.417)
107  POINT (30411.145 28685.876)
108  POINT (20015.586 40126.163)
109  POINT (20363.267 39042.672)
110  POINT (20667.291 38266.261)
111  POINT (21600.914 35929.067)
112  POINT (22497.065 35313.648)
113  POINT (23993.781 34776.974)
114   POINT (25107.83 34233.567)
115  POINT (26013.545 33830.922)